# Python venv
.venv/
venv/
.venv311/

# Environment variables
.env

# Bytecode
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Packaging outputs
build/
dist/

# Data and training outputs
dataset/
prepared_datasets/
runs/
runs_timm/
debug_exports/
